$width: 136px;

#all-products {

  .products-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &::after {      // 最后一列加个伪元素来强制对齐
        content: "";
        width: $width;
      }

    .basic-card {
      margin-bottom: 16px;
    }
  }
}