%displayFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%shadow {
  box-shadow: 0 2px 10px rgb(235, 230, 230);
}

%appearance {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

%removeScrollBar {
  &::-webkit-scrollbar {
    display: none;
  }

  & {
    -ms-overflow-style: none;
  }

  & {
    overflow: -moz-scrollbars-none;
  }
}
