$bg:                  #fff;
$fg:                  #fff;
$signum_blue:         #77C8D9;
$signum_blue_2:       #80B9C4;
$signum_blue_3:       #60b0bd;
$text:                #434343; 
$light_text:          rgb(151, 151, 151);
$border_color:        #eee;
$hover-border-color:  #c3e0e6;
$box_shadow:          #e1e3e9;
$button_box_shadow:   #e4e4e4;
$important:           #dd6d6b; 
$orange:              #eb7242;
$yellow:              #f39a35;