$main:                #f0b5a8;
$bg:                  #fff;
$fg:                  #fff;
$text:                #434343; 
$light_text:          rgb(151, 151, 151);
$border_color:        #eee;
$box_shadow:          #e1e3e9;
$button_box_shadow:   #e4e4e4;


// Footer
$footerHeight: 56px;
