$pink: #f5dad4;

.option {
  margin-top: 15px;

  .option-title {
    margin-bottom: 10px;

    .option-title-name {
      color: #b39a96;
    }
  }

  .option-group {
    display: flex;

    .option-item {
      padding: 8px 10px;
      border-radius: 8px;
      margin-right: 20px;
      background-color: rgb(243, 243, 243);
      cursor: pointer;

      &.clicked {
        background-color: $pink;
      }

      .item-name {
        text-align: center;
      }
    }
  }
}
