$imgHeight: 33%;
$borderRadius: 30px;
$footerHeight: 56px;

#item-detail {
  position: relative;
  height: 100vh;

  .img-wrapper {
    width: 100%;
    height: $imgHeight;
  }

  .content-wrapper {
    position: relative;
    top: -3%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px 36px;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name,
      .price {
        font-size: 1.4rem;

        span {
          //人民币符号
          font-size: 1rem;
        }
      }

      .price {
        font-weight: bold;
        margin-right: 20px;
      }
    }
  }

  .cartBtn-wrapper {
    position: fixed;
    bottom: $footerHeight;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 15px 0;

    // add to cart button override
    .MuiButtonBase-root {
      &.cartBtn {
        width: 200px;
        height: 42px;
        border-radius: 30px;
        background-color: #f5b0a3;
        box-shadow: 2px 3px 10px #e4e4e4;
        span {
          font-weight: bold;
          text-transform: capitalize;
          font-size: 1.1rem;
        }
      }
    }
  }
}
